body {
  background-image: url(IMG_1964.jpg);
  min-height: 100vh;
  background-size: cover;
}
.boat-container{
  position: absolute;
  left: 35%;
  top: 40%;
  width: 120px;
  animation: boatAnimation 10s;
}
.boat-container img{
  width: 50%;
}

@keyframes boatAnimation {
  0%{
    top: 25%;
    left: 75%;
    transform: rotate(-30deg)
  }

  60%{
    top: 38%;
    left: 40%;
    transform: rotate(30deg);
    /* width: 240px; */
  }

  100%{
    left: 35%;
    top: 40%;

  }
}

h2{
  text-align: center;
  font-size: xx-large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

